
<h1> My TODO </h1>
  <input type="text" name="textbox" id="text"> 
  <button type="button" name="save" id="save"> save </button>
  <ul class="list"> </ul>
  
   <!--
  <li id='el-#{id}'>
    asdas
    <button>del</button>
  </li>
  !-->